<nav class="navbar">
  <div class="navbar-container">
    <h1 class="logo" routerLink="/home">iRenewHub</h1>
    <ul class="nav-links">
      <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/products" routerLinkActive="active">Productos</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contacto</a></li>
    </ul>
    <!-- Icono del carrito con contador -->
    <a routerLink="/cart" class="cart-icon">
      🛒
      <span class="cart-badge" *ngIf="cartItemCount > 0">
        {{ cartItemCount }}
      </span>
    </a>
  </div>
</nav>